body {
	background-image: url(../Assets/background2b.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

#archimedesLogo {
	height: 300px;
	margin-top: 15;
}

#c1, #c2, #c3, #c4 {
	height: 100px;
	margin-top: 15;
}

#archimedesLogo {
	border-radius: 45;
	box-shadow: 0px 5px 20px black;
}
